# ignore special dirs
**/tmp/*
**/bin/*
**/build/classes/*
**/src-gen/*
**/dist 
*dist/*

# ignore project files
DB4OFILENAME
**/DB4OFILENAME
DB40FILENAME
**/DB40FILENAME

**/testDB

rentalTestDb
testDb
**/testDB

# ignore temp files
.DS_Store 
*.bak
~*
*.lock
