# ignore special dirs
**/tmp/*
**/bin/*
**/build/classes/*
**/src-gen/*
**/dist 

# ignore project files
DB4OFILENAME
**/DB4OFILENAME
DB40FILENAME
**/DB40FILENAME

# ignore temp files
.DS_Store 
*.bak
~*
*.lock
